*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#3a7bd5,#00d2ff);
}

.container{

    width:420px;

    background:white;

    border-radius:20px;

    padding:30px;

    text-align:center;

    box-shadow:0 10px 25px rgba(0,0,0,.3);

}

h1{

    margin-bottom:20px;

}

.search-box{

    display:flex;

    justify-content:space-between;

    margin-bottom:20px;

}

input{

    width:72%;

    padding:12px;

    border-radius:10px;

    border:1px solid #ccc;

    outline:none;

}

button{

    width:25%;

    border:none;

    background:#0077ff;

    color:white;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;

}

button:hover{

    background:#005fd6;

}

.weather-card img{

    width:120px;

}

.details{

    margin-top:25px;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:15px;

}

.details div{

    background:#f4f4f4;

    padding:12px;

    border-radius:12px;

}